body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inline-block {
  display: inline-block;
}

/* src/App.css */
.container {
  display: flex;
  height: 95vh;
}

.left-pane {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #f0f0f0;
}

.right-pane {
  width: 600px;
  padding: 20px;
}

.bottom-button {
  bottom: 0;
}

#svgContainer {
  width: 500px;
  height: 600px;
  background-color: lightblue;
}